@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: Inter;
	src: url("/fonts/Inter.woff2") format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
} */

* {
	margin: 0;
	min-width: 0;
}

img {
	max-width: fit-content;
	max-height: fit-content;
}

html .shiki {
	background-color: #f7f7f7 !important;
}

html.dark .shiki {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

html.dark .shiki span {
	color: var(--shiki-dark) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

html .shiki > code {
	display: block;
	width: fit-content;
	min-width: 100%;
}

html .shiki span.highlighted {
	width: calc(100% + 48px);
	margin: 0 -24px;
	padding: 0 24px;
	display: inline-block;
	@apply bg-neutral-200;
}

html.dark .shiki span.highlighted {
	@apply bg-neutral-800;
}

html .shiki span.word-highlighted {
	display: inline-block;
	height: fit-content;
	margin-bottom: 1px;
	padding-inline: 2px;
	border-radius: 6px;
	@apply bg-neutral-200;
}

html.dark .shiki span.word-highlighted {
	@apply bg-neutral-800;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		/* --foreground: 0 0% 97%; */
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 6.5%;
		--foreground: 0 0% 98%;
		/* --foreground: 0 0% 7%; */
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}
