<script lang="ts">
	import FooterNavigation from "$components/FooterNavigation.svelte";
	import Title from "$components/Title.svelte";
</script>

<Title>

# Default

</Title>

<FooterNavigation
	previous={{
		href: "/docs/double-elimination-bracket",
		title: "Double Elimination Bracket",
	}}
/>