<script lang="ts">
	import FooterNavigation from "$components/FooterNavigation.svelte";
	import CodeBlock from "$components/CodeBlock.svelte";
</script>

# Extendable data

TODO

<FooterNavigation
	previous={{
		href: "/docs/bring-your-own-design",
		title: "Bring Your Own Design",
	}}
/>
