<script lang="ts">
	import FooterNavigation from "$components/FooterNavigation.svelte";
</script>

# Extendable data

TODO

<FooterNavigation
	previous={{
		href: "/docs/bring-your-own-design",
		title: "Bring Your Own Design",
	}}
	next={{
		href: "/docs/examples/default",
		title: "Default"
	}}
/>