<script lang="ts">
	import FooterNavigation from "$components/FooterNavigation.svelte";
</script>

# Bring Your Own Design

TODO

<FooterNavigation
	previous={{ 
        href: "/docs/double-elimination-bracket", 
        title: "Double Elimination Bracket" 
    }}
	next={{ 
        href: "/docs/extendable-data", 
        title: "Extendable Data" 
    }}
/>
